.profile-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;

    .left-profile {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: "Poppins", serif;

        >h3 {
            display: flex;
            gap: 10px;
            color: #ED553B;

            >span {
                color: black;
            }
        }

        >p {
            display: flex;
            gap: 10px;
            color: #ED553B;
            font-weight: 500;

            >span {
                color: black;
            }
        }
    }

}